[init]
	defaultBranch = main
[user]
	email = thomas.ambrogini@gmail.com
	name = Thomas Ambrogini
[core]
	editor = nvim
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
[merge]
	conflictstyle = zdiff3
